@tailwind components;
/*Activity List*/

.activity-list {
  @apply grid grid-cols-[0.3fr_0.2fr_0.2fr_0.3fr] px-6 mb-[1.875rem] w-full;
}

/* button */
.btn-wrapper {
  @apply flex justify-center items-center;
}

.btn {
  @apply flex justify-center items-center gap-x-[0.875rem] h-[3.625rem] text-base font-medium text-white rounded-[0.6rem] capitalize;
}

.btn-outline {
  @apply bg-[#16162D] border-[#2f79f9de] border-[1px];
}

.btn-outline-2 {
  @apply bg-[#16162D] border-border-1-line border-[1px];
}

.btn-primary {
  @apply bg-gradient-to-r from-[#2F79F9] to-[#3DAEFA] rounded-[0.625rem];
}

/*Check Box*/

.checkbox {
  @apply appearance-none h-6 w-6 rounded-[0.2rem] relative;
}

.checkbox:checked {
  @apply bg-contain bg-gradient-to-br from-[#2F79F9] to-[#3DAEFA];
}

.checkbox::before {
  @apply absolute content-[""] top-[50%] left-[50%] w-full h-full bg-[url('/images/tick.svg')] bg-no-repeat bg-[length:12px_12px];
  transform: translate(-35%, -35%);
  display: none;
}

.checkbox:checked::before {
  display: block;
}

/* heading */
.hd {
  @apply text-4xl lg:text-[3.625rem] font-['Sf_Pro'] font-bold block text-white lg:leading-[4.325rem];
}

/* heading */
.hd2 {
  @apply text-[2.5rem] font-bold block text-white;
}

/* hero-indicator */
.hero-indicator {
  @apply flex gap-x-4 items-center;
}

/* input */

.input-wrapper {
  @apply h-[3.3125rem] px-3 lg:px-[1.25rem] bg-transparent flex items-center flex-row-reverse lg:flex-row rounded-[0.56rem] gap-x-[0.625rem] w-full border-[#34364C] border-[0.0625rem] text-white;
}

input {
  @apply text-[1.125rem] focus:outline-0 bg-transparent lg:w-full;
}

/* loader */

.loader-body {
  @apply h-[40vh] grid place-items-center bg-transparent;
  backdrop-filter: blur(15px);
}

.loader {
  @apply relative h-[12rem] w-[12rem] rounded-[50%];
  background: linear-gradient(#2f79f9, #3daefa, #7381ff);
  animation: animate 500ms linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-child,
.loader-child-2,
.loader-child-3 {
  @apply absolute h-full w-full rounded-[50%];
  background: linear-gradient(#2f79f9, #3daefa, #7381ff);
}

.loader-child {
  @apply blur-[5px];
}
.loader-child-2 {
  @apply blur-[10px];
}
.loader-child-3 {
  @apply blur-[15px];
}
.loader::after {
  content: "";
  @apply absolute top-[10px] left-[10px] right-[10px] bottom-[10px] bg-[#080A1D] rounded-[50%];
}

/*Nft slider*/

.next-slider {
  @apply h-[4.375rem] w-[4.375rem] rounded-[50%] flex items-center justify-center bg-white absolute top-[12rem] right-0;
}

/*Select*/

.select {
  @apply py-[0.85rem] lg:py-4 px-2 lg:px-3 rounded-[0.5rem] border-[1px] border-border-1-line flex items-center justify-between gap-x-4 relative;
}

.select-lists {
  @apply absolute rounded-[0.5rem] border-[1px] border-border-1-line flex-col top-[110%] bg-bg-4 p-2 z-10;
}

span {
  @apply text-base text-white font-medium;
}

/* sidebar link */
.sidebar-menu {
  @apply block py-[0.9375rem] px-4 2xl:py-[0.9375rem] 2xl:px-[1rem] mb-2 rounded-[0.625rem] text-white font-medium select-none hover:bg-[#212346] cursor-pointer;
}

.sidebar-title-wrapper {
  @apply flex items-center justify-between;
}

.sidebar-title {
  @apply flex gap-x-[0.75rem] items-center;
}

.sidebar-label,
.sidebar-submenu-wrapper span {
  @apply 2xl:text-[0.9rem];
}

.sidebar-toggle-btn {
  transition: transform 0.3s;
}
.sidebar-open {
  transform: rotate(180deg);
}

.sidebar-submenu {
  @apply pt-[.25em] overflow-hidden h-0;
}

.sidebar-submenu-wrapper {
  @apply grid grid-cols-[0.2fr_1fr];
}

.sidebar-submenu-wrapper span {
  @apply text-[#B9B9C0] hover:text-white my-1;
}

.sidebar-sublink-open {
  @apply h-auto;
}

.sidebar-tag {
  @apply text-[0.625rem] text-[#3CABFA] font-medium py-[0.03rem] ml-2 px-2 rounded-[3.125rem] bg-gradient-to-r from-[#2f79f9a1] to-[#3daefa46];
}

/*Tag*/

.tag {
  @apply lg:border-[#2f79f9de] lg:border-[1px] rounded-[0.625rem] flex items-center justify-center w-full max-w-[9.875rem];
}

.tag span {
  @apply flex gap-x-[0.375rem] justify-center items-center text-[0.875rem] text-sm font-medium rounded-[0.625rem] text-[#3CABFA] lg:bg-bg-1 h-[2.25rem] w-[9.78rem];
}

.gradient-btn {
  @apply py-[0.3rem] lg:h-12 px-2 lg:px-7 border-none outline-none relative z-[1] rounded-[0.625rem] bg-gradient-to-r from-[#2f79f9] to-[#3daefa];
}

.gradient-btn::before {
  @apply absolute left-[0.085rem] lg:left-[0.0625rem] right-[0.07rem] lg:right-[0.0625rem] top-[0.07rem] lg:top-[0.0625rem] bottom-[0.0625rem] content-[""] rounded-[0.625rem] bg-[#16172e] -z-[1];
}

.gradient-btn::after {
  @apply content-[attr(data)] text-base font-medium  bg-gradient-to-r  from-[#2f79f9] to-[#3daefa] text-transparent;
  -webkit-background-clip: text;
}
