/* sidebar */
.sidebar-container {
  @apply h-[50rem] 2xl:h-screen  relative lg:mt-[0.8rem];
}

.sidebar-btn {
  @apply flex justify-between gap-x-[2.1875rem] mb-[2.125rem] items-center lg:hidden;
}

.social-links {
  @apply grid grid-cols-3 gap-x-3 gap-y-5 cursor-pointer absolute w-[100%] bottom-[15%] lg:bottom-[20%];
}

.social-link {
  @apply h-[3.625rem] w-[3.625rem] rounded-full border-[0.0625rem]  border-[#404861] text-white grid place-items-center;
}

/* connect-wallet header */
.connect-header-wrapper {
  @apply flex items-center font-medium relative after:absolute after:w-full after:bottom-[-0.75rem] after:h-[0.3125rem] after:rounded-t-md after:right-0 capitalize gap-x-[0.5rem];
}

.connect-header-wrapper-count {
  @apply text-[0.75rem] border-[#858585] border-[1px] px-2  rounded-full;
}

/* connect wallet stage 1 */
.connect-wallet-stage-1 {
  @apply px-10 py-8 flex flex-col;
}

.connect-wallet-stage-1-more {
  @apply mt-6 mb-10 grid grid-cols-2 gap-8;
}

.connect-wallet-stage-1-data {
  @apply flex items-center gap-x-6 p-5 px-7 rounded-xl border-[#2C2C43] border-[0.0625rem] text-white hover:border-[#2E76EE] hover:bg-[#2e74ee1c];
}

.connect-wallet-stage-1-data span {
  @apply text-lg font-medium;
}

/* connect wallet tab */
.connect-header-tab {
  @apply pb-3 flex justify-center gap-x-16 w-max border-[#33364D] border-b-[0.0625rem];
}

/* display wallet */
.display-wallet-wrapper {
  @apply w-full;
}

.display-wallet-section-1 {
  @apply grid grid-cols-2 mb-3;
}

.display-wallet-ext {
  @apply bg-white p-7 rounded-l-xl flex flex-col justify-center items-center;
}

.display-wallet-ext h1 {
  @apply text-3xl font-bold max-w-[16rem] mb-4 text-center;
}
.display-wallet-ext span {
  @apply block bg-[#2257E7] text-white text-xl font-medium py-3 w-[30%] md:w-[75%] text-center rounded-lg;
}

.display-wallet-guide {
  @apply bg-[#FAFBFC] px-7 py-14 rounded-r-xl flex flex-col gap-y-8;
}

.display-wallet-guide span {
  @apply flex justify-end;
}

.display-wallet-guide-list {
  @apply flex flex-col gap-y-7 pb-10;
}

.display-wallet-guide-name {
  @apply flex justify-center items-center gap-x-6;
}

.display-wallet-guide-icon {
  @apply h-10 w-10 grid place-items-center rounded-full shadow shadow-[#cfd0d0cf];
}

.display-wallet-guide-description {
  @apply text-lg font-medium w-3/5 leading-tight;
}

.display-wallet-section-2 {
  @apply grid grid-cols-2;
}
.display-wallet-section-2-scan {
  @apply bg-white p-7 rounded-l-xl flex flex-col justify-center items-center;
}

.display-wallet-section-2-scan span {
  @apply block text-lg text-[#AAAAAA] font-medium w-[30%] md:w-[80%] rounded-lg;
}

.display-wallet-section-2-scan h1 {
  @apply text-3xl font-bold mb-4 text-center;
}

.display-wallet-section-2-qr {
  @apply bg-[#FAFBFC] p-7 rounded-r-xl flex justify-center;
}

/*Earnings Card*/
.earnings-card-wrapper {
  @apply h-[19.375rem] p-10 rounded-[0.625rem] flex flex-col justify-between capitalize;
}

.earnings-card-label,
.earnings-card-remainig-amt-bal {
  @apply text-2xl font-medium;
}
.earnings-card-coin-bal {
  @apply flex items-center gap-x-4;
}
.earnings-card-coin-amt {
  @apply font-bold text-5xl;
}

.earnings-card-amount-bal {
  @apply flex items-center justify-between mt-3;
}

.earnings-card-remainig-amt-bal {
  @apply text-[#A2A3B8];
}

.earnings-card-view-history {
  @apply flex items-center gap-x-[0.375rem];
}

.earnings-card-history {
  @apply font-medium  bg-gradient-to-r  from-[#2f79f9] to-[#3daefa] text-transparent;
  -webkit-background-clip: text;
}

/* hero card */
.hero-card-wrapper {
  @apply h-[16.9075rem] w-[13.6706rem] bg-[url('/images/bg-2.png')] rounded-[1.774rem] py-[0.86rem] px-[0.75rem] flex flex-col justify-between items-center;
}

.hero-card-wrapper img {
  @apply object-cover mb-[0.65rem];
}

.hero-card-wrapper .title {
  @apply font-medium text-[1.06rem] text-white;
}
.hero-card-wrapper .price {
  @apply font-medium text-[0.875rem] text-[#c5c5cb];
}

/* mini user profile */
.mini-user-profile-wrapper {
  @apply bg-bg-3 absolute top-[13%] sm:top-[13%] lg:top-[9%] 2xl:top-[7.5%] z-10 rounded-[1.125rem] border-[#34364C] border-[0.0625rem] p-[0.8rem] flex-col hover:cursor-pointer w-56;
}

.mini-user-profile-links {
  @apply grid grid-cols-[0.35fr_1fr] items-center text-white font-medium gap-x-3 py-[0.8rem] px-[1rem] hover:bg-bg-5 hover:rounded-lg;
}

.mini-profile-toggle {
  @apply grid-cols-[0.5fr_1fr_0.2fr];
}

.mini-user-toggle-btn.react-toggle--checked .react-toggle-track {
  @apply bg-[#0F94F2];
}

/*Mini User Wallet*/

.mini-wallet-info {
  @apply grid grid-cols-[0.5fr_1fr] py-[0.8rem] px-[1rem] hover:bg-bg-5 hover:rounded-lg;
}

.mini-wallet-name {
  @apply text-sm font-medium leading-[1.301rem] text-white;
}

.mini-wallet-address {
  @apply text-xs leading-4 text-[#B9BAC1];
}

.mini-wallet-bal {
  @apply h-[13.125rem] rounded-2xl bg-[#1D1F3E] flex flex-col items-center gap-y-[2.125rem] pt-[2.125rem] mt-6;
}

.mini-wallet-bal-info {
  @apply flex flex-col items-center gap-y-2;
}

.mini-wallet-bal-title {
  @apply text-sm text-[#B9BAC1];
}
.mini-wallet-bal-amount {
  @apply text-[1.75rem] text-white font-bold;
}

.mini-wallet-disconnect {
  @apply text-[#FB4E4E] text-base font-medium leading-[1.3018rem] text-center mt-[2.125rem];
}

/*Nav Tab*/

.nav-tab-wrapper {
  @apply h-[3.625rem] px-[1.5625rem] flex items-center justify-between bg-[#1D1F3E] rounded-[0.625rem] gap-x-4;
}

.tab {
  @apply text-white cursor-pointer pb-[0.9rem];
}
/* .tab::before {
  @apply absolute content-[''] bg-white h-[0.3125rem] w-full rounded-t-[0.24rem] bottom-[-1rem];
} */

.tab-select {
  @apply flex items-center text-[#9f9f9f] gap-x-[0.375rem] cursor-pointer;
}

/*Nft Header*/

.nft-header-wrapper {
  @apply flex w-full items-center justify-between mb-[3.625rem];
}

.nft-head {
  @apply flex w-full justify-between lg:items-center lg:gap-x-[1.25rem] lg:justify-start;
}
.nft-head-bg {
  @apply bg-[url('/images/dashboard-header-rectangle.png')] bg-no-repeat bg-contain h-[0.625rem] lg:mt-[1.125rem];
}
.nft-tail {
  @apply font-medium text-[1.25rem] flex items-center gap-x-[0.375rem] text-white;
}

/*Nft List*/
.nft-list-head {
  @apply grid grid-cols-[0.05fr_0.35fr_0.3fr_0.3fr_0.05fr] py-2 px-6 mb-4;
}

.nft-list-data {
  @apply grid grid-cols-[0.05fr_0.35fr_0.3fr_0.3fr_0.05fr] items-center py-4 px-6 bg-bg-5 rounded-xl cursor-pointer;
}

/*Nft Medium Card */

.nmc-wrapper {
  @apply rounded-[0.975rem] bg-white max-w-[27rem] w-full lg:max-w-full;
}

.nmc-wrapper-img {
  @apply h-[23rem] lg:h-[25rem] w-full relative rounded-t-[0.975rem];
}

.nmc-wrapper-likes {
  @apply absolute py-[0.9375rem] px-5 h-[3.1875rem] flex justify-center items-center rounded-[0.75rem] right-5 top-5 space-x-[0.5625rem];
  background: linear-gradient(
    147.75deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(10px);
}

.nmc-wrapper-likes span {
  @apply text-white leading-[1.3018rem];
}

/* .nmc-wrapper-img img,
.nmc-wrapper2-img img {
  @apply w-full h-full rounded-t-[0.975rem];
} */

.nmc-sub-wrapper {
  @apply py-3 px-2;
}
.nmc-status {
  @apply inline-block h-[2.0625rem] leading-[1.139375rem] rounded-[0.375rem] text-white font-medium text-[0.875rem] py-[0.46875rem] px-[0.875rem];
}
.nmc-wrapper-3 {
  @apply grid grid-cols-[0.25fr_0.75fr_0.1fr] items-center pl-2 py-1;
}

.nmc-wrapper-4 {
  @apply flex justify-between w-full;
}

.nmc-wrapper-4 .name {
  @apply text-2xl font-bold text-black;
}

.nmc-wrapper-4 .owner {
  @apply text-[0.875rem] font-medium text-[#767A7F] uppercase;
}
.nmc-wrapper-4 .price-wrapper {
  @apply flex flex-col justify-between;
}

.nmc-wrapper-4 .price-wrapper .coin {
  @apply text-[#2B2E32] font-medium text-base flex items-center;
}

/*Nft Medium 2 Card */

.nmc-wrapper2-img {
  @apply h-[24rem] w-full relative rounded-[0.975rem];
}

.nmc-sub-wrapper-2 {
  @apply flex justify-between items-center mb-[0.375rem];
}

.nmc-wrapper2-likes {
  @apply p-[0.562rem] h-[2.7rem];
}

.nmc-wrapper2-likes span {
  @apply text-[0.8118rem];
}

.nmc-sub-wrapper-2 span {
  @apply text-black;
}

.nmc-sub-wrapper-2 .name {
  @apply text-lg font-bold;
}

.nmc-sub-wrapper-2 .coin {
  @apply flex items-center font-bold;
}

.nmc-sub-wrapper-2-owner {
  @apply text-black;
}

/*Nft Mini Cards*/

.nft-mini-cards-wrapper {
  @apply bg-[#222237] py-6 px-[1.875rem] rounded-[1rem] grid 
  grid-cols-[0.8fr_0.2fr]
  /* grid-cols-[0.2fr_1fr_0.2fr]  */
  items-center h-[7.375rem];
}

.nft-mini-cards-index {
  @apply font-bold text-[2.5rem] text-[#9096A5] mr-[1.375rem] block;
}

.nft-mini-cards-wrapper .img {
  @apply h-[4.375rem] w-[4.375rem] rounded-[0.75rem] object-cover mr-[1.25rem];
}

.nft-mini-cards-title {
  @apply font-bold text-[1.25rem] text-white;
}

.nft-mini-cards-wrapper2 {
  @apply flex items-center mt-[0.625rem] mr-[40px];
}

.nft-mini-cards-sub {
  @apply text-base font-medium text-[#BDBFC7] mr-[0.5rem];
}
.nft-mini-cards-val {
  @apply text-base font-medium text-white ml-[0.25rem];
}

.nft-mini-cards-val2 {
  @apply text-base font-medium text-[#2AC769] block text-right;
}

.nft-mini-cards-wrapper3 {
  @apply flex items-center mt-[0.59375rem];
}

.nft-mini-cards-val3 {
  @apply text-base font-medium text-[#BDBFC7];
}

/*Total Earning Card*/

.total-earning-card-wrapper {
  @apply h-[7.375rem] p-6 bg-[#99a0ff0c] rounded-[1.25rem] flex justify-between items-center;
}
.total-earning-details {
  @apply flex items-center gap-x-[1.75rem];
}

.total-earning-details img {
  @apply h-[4.375rem] w-[4.375rem] rounded-full object-cover;
}

.total-earning-details-img {
  @apply h-[4.375rem] w-[4.375rem] relative;
}

.total-earning-transaction-details p,
.total-earning-transaction-details p span {
  @apply text-[#A2A3B8] font-bold text-[1.375rem] mb-2;
}

.total-earning-transaction-details p span {
  @apply text-white;
}

.total-earning-transaction-date-time span,
.total-earning-transaction-details
  .total-earning-withdrawn-transaction-details {
  @apply font-medium text-[#A2A3B8] text-xs sm:text-base;
}

.total-earning-bal {
  @apply flex flex-col gap-y-3;
}

.total-earning-coin-sold {
  @apply flex font-bold sm:text-xl items-center gap-1;
}

.total-earning-coin-sold-receiver {
  @apply font-medium text-[#A2A3B8];
}

.transaction-card {
  @apply flex flex-col gap-y-3 lg:gap-y-4;
}

.transaction-card-details {
  @apply flex items-center gap-x-4 lg:gap-x-[1.75rem];
}

.transaction-card-img {
  @apply h-20 w-20 lg:h-[4.375rem] lg:w-[4.375rem] relative;
}

.transaction-card-p {
  @apply text-sm sm:text-[1.375rem] font-bold;
}

.transaction-card-span {
  @apply text-sm sm:text-[1.375rem] font-bold text-txt-2;
}
